# ipyvizzu - 1st Example - Results of a LinkedIn Poll

In [ ]:
#!pip install ipyvizzu

In [1]:
import pandas as pd
from ipyvizzu import Chart, Data, Config, Style

data_frame = pd.read_csv("https://raw.githubusercontent.com/vizzuhq/vizzu-workshops/main/2022-12-01-PyData-Global/data/LinkedIn_Poll.csv")
data = Data()
data.add_data_frame(data_frame)

display(data_frame)

,Group name,Group,Answer,Vote[%],Vote count,GroupVote count,Total[%]
0,"Data Analytics, Data Science, Business Analyti...",Group 5,2 or more per month,39,27,70,3.8
1,Python Developers Community (moderated),Group 4,2 or more per month,44,191,433,27.0
2,"Data Scientist, Data Analyst and Data Engineer",Group 3,2 or more per month,47,66,141,9.3
3,"Artificial Intelligence, Digital Transformatio...",Group 2,2 or more per month,55,6,11,0.8
4,"AI & ML - Analytics , Data Science...",Group 1,2 or more per month,56,29,52,4.1
5,"Data Analytics, Data Science, Business Analyti...",Group 5,1 per month,31,22,70,3.1
6,Python Developers Community (moderated),Group 4,1 per month,24,104,433,14.7
7,"Data Scientist, Data Analyst and Data Engineer",Group 3,1 per month,20,28,141,4.0
8,"Artificial Intelligence, Digital Transformatio...",Group 2,1 per month,18,2,11,0.3
9,"AI & ML - Analytics , Data Science...",Group 1,1 per month,12,6,52,0.8
10,"Data Analytics, Data Science, Business Analyti...",Group 5,1-2 per quarter,14,10,70,1.4
11,Python Developers Community (moderated),Group 4,1-2 per quarter,13,56,433,7.9
12,"Data Scientist, Data Analyst and Data Engineer",Group 3,1-2 per quarter,16,23,141,3.3
13,"Artificial Intelligence, Digital Transformatio...",Group 2,1-2 per quarter,18,2,11,0.3
14,"AI & ML - Analytics , Data Science...",Group 1,1-2 per quarter,17,9,52,1.3
15,"Data Analytics, Data Science, Business Analyti...",Group 5,Never,16,11,70,1.6
16,Python Developers Community (moderated),Group 4,Never,19,82,433,11.6
17,"Data Scientist, Data Analyst and Data Engineer",Group 3,Never,17,24,141,3.4
18,"Artificial Intelligence, Digital Transformatio...",Group 2,Never,9,1,11,0.1
19,"AI & ML - Analytics , Data Science...",Group 1,Never,15,8,52,1.1

In [ ]:
chart = Chart(width="100%", height="360px")

chart.animate(data)

chart.animate(
    Data.filter(
        "record.Group == 'Group 1'"
    ),
   Config({
            "x":{ "set": ["Vote[%]","Answer"], "ticks":True},
            "y":{ "set": "Group", "labels":False},
            "color": "Answer",
            "label": "Vote[%]",
            "title": "How often do you present your findings?"
        }),
    Style({
        'legend' : {'width' : '100%'},
    })
)

In [ ]:
chart.animate(
    Data.filter(None),
)

In [ ]:
chart.animate(
    Config({
        "split": True, 
        "title": "2 or more is the most popular answer in every group"
    }),
    Style({
      # 'title' : {'fontSize' : '1.8em'},
    })
)

In [ ]:
chart.animate(
    Config({
        "x": ["Vote count","Answer"], 
        "label": "Vote count", 
        "title": "61% of the votes came from one group"
    }),
)

In [ ]:
chart.animate(
    Config({ 
        "x": "Answer", 
        "y": "Vote count",
        "split": False, 
        "legend": "color",
        "title": "More than 700 people voted"
    })
)

In [ ]:
chart.animate(
    Config({ 
        "x": ["Total[%]","Answer"], 
        "y": None, 
        "label":"Total[%]"
    })
)

In [ ]:
chart.animate(
    Config({ 
        "coordSystem": "polar", 
        "title":"~68% presents at least once per month"
    })
)

### Issues
- Generic logic can be hard to comprehend
- One directional use